@import "../Utilities/mixins";
@import "../Utilities/variables";

.lightbox {
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  background-color: $lightbox-bg;
  width: 100%;
  height: 100%;
  gap: 2rem;

  .container-wrapper {
    position: absolute;
    @include flex(row, center, center);
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    @include flex(column, space-between, center);
    margin: 0 auto;
    max-height: 45.25rem;
    padding: 2rem;
    gap: 2rem;

    .wrapper {
      @include flex(column, center, flex-end);

      .carousel {
        position: relative;

        .prev,
        .next {
          position: absolute;
          top: 0;
          display: flex;
          background-color: white;
          border-radius: 50%;
          padding: 13px 16px;
          transform: translateY(450%);
          transition: color 0.3s ease-in;

          &:hover {
            color: $orange;
          }
        }

        .prev {
          left: -1rem;
        }

        .next {
          right: -1rem;
        }
      }
    }

    & > * {
      cursor: pointer;
    }

    .close {
      color: #69707d;
      transition: color 0.3s ease-in;
      &:hover {
        color: $orange;
      }
    }

    .thumbnail {
      max-width: 27.8125rem;
      border-radius: 10px;
    }

    .hidden {
      display: none;
    }

    &__images {
      @include flex(row, space-between, center);
      gap: 1rem;
      padding: 0;
      margin: 0;

      .wrapper {
        background-color: white;
        border-radius: 10px;
        overflow: hidden;

        &.active {
          border: 3px solid $orange;
        }
        img {
          max-width: 5.5rem;
          transition: all 0.3s ease-in;
          &:hover,
          &.active {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 925px) {
  .lightbox {
    display: none;
  }
}
